
div{
    // color: green;
}
.btn{
    width: 200px;
    height: 50px;
}

.quizz {

    overflow: hidden;
    margin: 0px 100px 0px 100px;

    .questions {
        float: left;
        width: 600px;
        h2 {
            margin-bottom: 100px;
        }
    }


    .reponses {
       // float: left;
        width: 600px;
        li{
            list-style:none;
            margin :0px 0px 20px 0px;
            padding-left:0;

        }

    }

    .next-btn {
       //  margin: 300px;
    }

    fa-icon {
        color: #628452
    }    
}