<!--The content below is only a placeholder and can be replaced.-->
<div id="intitule">
  Répond aux questions mec !
  <img width="300" class="imgcoffre" src="{{images/coffre_ferme.jpg}}" >
</div>


<div style="text-align:center" *ngIf="!isVictoire">

  <h2>{{countDown | async}}</h2>
  <div *ngIf="showButton" >
    <button  mat-raised-button (click)="begin(true)">Commencer</button>
  </div>
</div>

<div class="TimesUp" *ngIf="count.getValue() ==  0">

T'as perdu !



</div>


<div class="victoire" *ngIf="isVictoire">

    T'as gagné !
    
    
    
    </div>

<div class="quizz" *ngIf="showQuestions" >
  <div class="questions">
      <h2>{{questions[currentIndex].texte}}</h2>
  </div>
  <ul class="reponses">
    <li *ngFor="let reponse of questions[currentIndex].reponses">
      <fa-icon [icon]="['fas', iconsList[reponse.id]]" size="3x"></fa-icon><span>{{reponse.texte}}</span>
    </li>
  </ul>

  <button class="next-btn" (click)="increaseIndex()" mat-raised-button >Question suivante</button>

</div>

<div class="cadenas" *ngIf="showReponses"> 
  <div *ngFor="let icon of iconsList; let id = index" class="choix" id="{{icon}}" (click)="unlock(icon, id)">
      <fa-icon [icon]="['fas', icon]" size="3x" ></fa-icon>
  </div>
</div>

<div class="cadenas" *ngIf="showReponses">
  <div *ngFor="let entryNb of selectedIcons.keys()" id="entree{{entryNb}}">
      <fa-icon [icon]="['fas', this.selectedIcons[entryNb]]" size="3x" ></fa-icon>
  </div>

</div>
