<div id="main">


  <div class="countDown" style="text-align:center" *ngIf="!isVictoire">
    <p>{{countDown | async}}</p>
  </div>

  <div id="onTop" *ngIf="!showQuestions && !showReponses">
    <!--The content below is only a placeholder and can be replaced.-->
    <div id="intitule">
    <!--   <video width="420px" height="auto">
            <source src="assets/videos/coffre.mp4" type="video/mp4" />
            Ici l'alternative à la vidéo : un lien de téléchargement, un message, etc.
          </video> -->
      <div> 
      <p>Afin de savoir si vous êtes à la hauteur de la tâche, nous avons caché les
      spécifications du projet dans un coffre.</p>
      <p>Trouvez les réponses aux questions posées et prouvez que vous êtes digne des Avengers !</p>
      <p>La force seule ne sert à rien sans la connaissance et la mémoire ;)</p>
      </div>
      
    </div>


    <div class="buttoncompteur" style="text-align:center" *ngIf="!isVictoire">
      <div *ngIf="showButton" >
        <button  mat-raised-button (click)="begin(true)">Commencer</button>
      </div>

    </div>

  </div>

  <div class="coffre" *ngIf="isVictoire"  >
    
    <div class='texte'  *ngIf="isVictoire"><p>Bravo tu as réussi la première épreuve !</p></div>
    <video  autoplay width="100%" height="auto">
        <source src="assets/videos/coffre.mp4" type="video/mp4" />
       
      </video> 
  </div>


  <div class="TimesUp" *ngIf="count.getValue() ==  0">
    Ah! vous n'avez pas réussi avant la fin du chrono, c'est vraiment dommage :(
    Mais vous avez quand même le droit de continuer l'atelier !

  </div>

  <div class="quizz" *ngIf="showQuestions && !isVictoire" >
    <div class="questions">
        <p>{{questions[currentIndex].texte}}</p>
    </div>
    <ul class="reponses">
      <li *ngFor="let reponse of questions[currentIndex].reponses">
        <fa-icon [icon]="['fas', iconsList[reponse.id]]" size="3s"></fa-icon><div>{{reponse.texte}}</div>
      </li>
    </ul>

  </div>
  <div class="next-btn" *ngIf="showQuestions && !isVictoire">
    <button  (click)="increaseIndex()" mat-raised-button >Question suivante</button>
  </div>

  <div class='texte'  *ngIf="showReponses && !isVictoire"><p>Etes-vous capable de retrouver les logos dans l'ordre ?</p></div>
  
  <div class='partiereponse'>
    <div class="cadenas" *ngIf="showReponses && !isVictoire"> 
      <div class='listeicons' *ngFor="let icon of iconsList; let id = index" class="choix" id="{{icon}}" (click)="unlock(icon, id)">
          <fa-icon [icon]="['fas', icon]" size="3s" ></fa-icon>
      </div>
    </div>
  </div>

  <div class="cadenas tapelareponse" *ngIf="showReponses && !isVictoire">
    <div *ngFor="let entryNb of selectedIcons.keys()" id="entree{{entryNb}}">
        <fa-icon [icon]="['fas', this.selectedIcons[entryNb]]" size="3s" ></fa-icon>
    </div>
  </div>


</div>