#main{
    overflow : hidden !important ;
   // background-image: url('../assets/images/wallpaper.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 6;

    .countDown {
        height: 10%;
        vertical-align: middle;
        width: 5%;
        margin-left: 45%;
        margin-top: 1%;
        margin-right: auto;
        display: inline-block;
        p {
            font-weight: bold;
            font-size: 2em;

        }
    }

    #onTop{
       // margin: 0 auto;
       // vertical-align: middle;
        z-index: 18;
        width: 33.3%;
        height: auto;
        background-color: white;
        position: absolute;
        top:25%;
        left:33.3%;
        border: 1px solid lightgray;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        .buttoncompteur{
            
            height: 5%;;
            margin-top: 2%;
            margin-bottom: 2%;

        }


        #intitule {
            padding: 4px;
            //text-align: center;
            z-index: 12;
            text-align: justify;
            //margin-left: auto ;
            //margin-right: auto ;

            //width: 30%;
           // height: 20%;
//margin-top: 20px;
            div {
                width: 100%;
                margin-left: auto ;
                margin-right: auto ;


            }
           

        }
    }




p{
    font-family: Verdana;
    margin-top: 0px;
    margin-bottom: 5px;
}



div{
    // color: green;
}
.btn{
    width: 200px;
    height: 50px;
}

.quizz {
    z-index: 18;
    margin-left: 100px;
  //  overflow: hidden;
   // margin: 0px 100px 0px 100px;

    .questions {
     //   float: left;
        
        p {
            margin-bottom: 10px;
            margin-top: 0px;
        }
    }


    .reponses {

     //  display: flex;
       // float: left;
     //   width: 400px;

     //       float: left;
            li{
                list-style: none;
                margin: 0px 0px 20px 0px;
               /* padding-left:0;
                flex: 1 0;
                flex-direction: column;
                // float: right;*/

                .icone {
                    //color: #628452;
                    margin: 0px 0px 0px 0px;
                    // flex: 1 0;
                    // flex-direction: column;
                   // float: left;
                  //  margin-right: 20px;
                }



                mat-radio-button{


                }
            }
    }



    .next-btn {
       //  margin: 300px;
    }
}

.cadenas  {
   display: flex;
   align-items: center;
   justify-content: center;
   /* You can set flex-wrap and
      flex-direction individually */
   flex-direction: row;
   flex-wrap: wrap;
   /* Or do it all in one line
     with flex flow */
   flex-flow: row wrap;
   /* tweak where items line
      up on the row
      valid values are: flex-start,
      flex-end, space-between,
      space-around, stretch */
   align-content: flex-end;
    max-width: 40%;
    margin-left: 5px;
    margin-top: 5px;
    fa-icon{
        color: red;
        margin-left: 30px;
    }
    
    .choix  {
        flex: 1 0;
       // flex-direction: row;
        
    }

    .icone-selected {
        color: green;

    }
}

.texte{
    z-index: 12;
}

.tapelareponse {
    z-index: 12;
    margin-top: 2%;
    margin-left : 15%;
    fa-icon{
        color: green;
        margin-left: 10px;
    }
}

.partiereponse {
    z-index: 12;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }

fa-icon{
    color: red;
    margin-left: 10px;
}


.coffre {
    position: absolute;
    left: 30%;
    width: 40%;
    bottom: 5px;
 }

}