#avengers {
    overflow : hidden !important ;
    position: absolute;

    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/avengers.png') ;
    z-index: 7;
}

#main{
    background-image: url('../assets/images/avengers.png') ;

    font-size: 100%;
    overflow : hidden !important ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 12;

    .countDown {
        background-color: white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        border: 1px solid black;
        height: 41px;
        vertical-align: middle;
        width: 13%;
        margin-left: 43.5%;
        margin-top: 1%;
        margin-right: auto;
        display: inline-block;
        p {
            padding-top: 11px;
            font-weight: bold;
            
        }
    }

    #onTop{
       // margin: 0 auto;
       // vertical-align: middle;
        z-index: 18;
        width: 60%;
        height: auto;
        background-color: white;
        position: absolute;
        top:25%;
        left:20%;
        border: 1px solid lightgray;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        .buttoncompteur{
            
            height: 5%;;
            margin-top: 2%;
            margin-bottom: 2%;

        }


        #intitule {
            padding: 4px;
            //text-align: center;
            z-index: 12;
            text-align: justify;
            margin: 5px;
            //margin-left: auto ;
            //margin-right: auto ;

            //width: 30%;
           // height: 20%;
//margin-top: 20px;
            div {
                width: 100%;
                margin-left: auto ;
                margin-right: auto ;


            }
           

        }
    }




p{
    font-family: Verdana;
    margin-top: 0px;
    margin-bottom: 5px;
}



div{
    // color: green;
}

.next-btn {
    width: 15%;
    height: 9%;
    margin-left: 43.5%;
}

.quizz {
    z-index: 18;
    //width: 25%;
    height: 65%;
    margin-left: 5%;
    margin-top: 6%;


  //  overflow: hidden;
   // margin: 0px 100px 0px 100px;



    .questions {
     //   float: left;
     height: 5%;
        p {
           font-weight: bold;
            margin-bottom: 10px;
            margin-top: 0px;
        }
    }


    .reponses {
        margin-top: 5%;
        margin-left: 20%;
     //  display: flex;
       // float: left;
     //   width: 400px;

     //       float: left;
            li{
                list-style: none;
                margin: 0px 0px 20px 0px;
               /* padding-left:0;
                flex: 1 0;
                flex-direction: column;
                // float: right;*/

                .icone {
                    //color: #628452;
                    margin: 0px 0px 0px 0px;
                    // flex: 1 0;
                    // flex-direction: column;
                   // float: left;
                  //  margin-right: 20px;
                }



                mat-radio-button{


                }
            }
    }



    .next-btn {
       //  margin: 300px;
    }
}

.cadenas  {
    height: 25%;
   display: flex;
   align-items: center;
   justify-content: center;
   /* You can set flex-wrap and
      flex-direction individually */
   flex-direction: row;
   flex-wrap: wrap;
   /* Or do it all in one line
     with flex flow */
   flex-flow: row wrap;
   /* tweak where items line
      up on the row
      valid values are: flex-start,
      flex-end, space-between,
      space-around, stretch */
   align-content: flex-end;
    width: 59%;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 25px;
    fa-icon{
        color: red;
        margin-left: 40px;
        margin-top: 40px;
    }
    
    .choix  {
        flex: 1 0;
        margin: 20px 30px 0 0;
       // flex-direction: row;
        
    }

    .icone-selected {
        color: green;

    }
}

.tapelareponse {
    height: 5%;
    z-index: 12;
    margin-top: 3%;
    margin-left: 22%;



    fa-icon{
        color: green;
        margin-left: 10px;
    }
}

.partiereponse {
    margin-top: 5%;
    z-index: 12;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }

fa-icon{
    color: red;

}


.coffre {

     .texte{
        text-align: center;
        z-index: 12;
    }
    z-index: 18;
    width: 60%;
    height: auto;
    position: absolute;
    top:10%;
    left:20%;
    //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
 }

 .texte{
    font-weight: bold;
}

.TimesUp{
    margin-left: 5%;
}

.texte-cadenas{
    margin-top: 2%;
    margin-left: 5%; 
}

.titre-catenas{
    margin-top: 5%;
    margin-left: 5%;
}

.failMessage{
    color: red;

}

.texte-victoire {
    color : green;
}

}